<p id="notice"><%= notice %></p>

<%= link_to 'New Root', new_note_path %>
<br/>

<div class="root-container">
  <% @notes.each do |note| %>
    <%= render "show", note: note, root: true %>
  <% end %>
</div>
