<%= link_to "Home", root_path %>
<br/>

<%= form_tag search_path, method: :get do %>
  <%= text_field_tag :query %>
<% end %>

<div class="root-container">
  <% @notes.each do |note| %>
    <%= render "show", note: note, root: true %>
  <% end %>
</div>
