// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.root-container {
  margin: 1em 0;
  font-size: .85em;
}

.root {
  display: inline-block;
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@media only screen and (min-width: 500px) {
  .root-container {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
  }
}

@media only screen and (min-width: 700px) {
  .root-container {
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
  }
}

@media only screen and (min-width: 900px) {
  .root-container {
	-moz-column-count: 4;
	-webkit-column-count: 4;
	column-count: 4;
  }
}

@media only screen and (min-width: 1100px) {
  .root-container {
	-moz-column-count: 5;
	-webkit-column-count: 5;
	column-count: 5;
  }
}

@media only screen and (min-width: 1280px) {
  .wrapper {
	  width: 1260px;
  }
}

.note {
  padding: 2px;
  margin-left: 2px;
  background-color: rgba(0,0,0,0.1);
  border: 1px solid #aaa;

  .title a {
    text-decoration: none;
  }

  .age {
    font-size: 0.8em;
  }

  .tags {
    font-size: 0.8em;

    .tag {
      border-radius: 3px;
      padding: 1px 2px;
      text-shadow: 0px 0px 2px black;
      color: white;
    }
  }

  .children {
    margin-top: 3px;
  }
}

.note:not(:last-child) {
  margin-bottom: 5px;

  &.root {
    margin-bottom: 10px;
  }
}

.action {
  text-decoration: none;
  border: 1px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-radius: 3px;
  padding: 0px 2px;
  background-color: #eee;
}

body > .note {
  margin-left: 0px;
}
